body.my_theme {
  background: var(--person-content-background-color);
}

/* Index page styles */

.my_theme {
  .person-info {
    header::after {
      background-color: var(--font-color-surname);
    }
    .person-languages {
      .language {
        color: #fff;
      }
    }
    .person-header {
      color: #fff;
    }
    .person-contact-info {
      section {
        h4 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
  }
  .person-content {
    border-right: 1px solid var(--person-info-background-color);
    header::after {
      background-color: var(--person-info-background-color);
    }
    h2, p {
      color: var(--person-info-background-color);
    }
    .person-work-experience {
      .person-content-p {
        font-size: var(--font-size-medium);
      }
    }
    .person-form-link-container {
      .form-link {
        &:hover {
          border: 1px solid var(--person-info-background-color);
          color: var(--person-info-background-color);
          border-radius: 6px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

/* Hire me page styles */

.my_theme {
  .container {
    .hire-form-body {
      .hire-form-head {
        .title, .subtitle {
          color: var(--person-info-background-color);
        }
      }
      .contact-info {
        .contact-info-table {
          background: var(--person-info-background-color);
           tr, td {
             color: var(--person-content-background-color);
           }
          .phone {
            &::after {
              background-image: url(../img/icons/phone-icon-my-theme.png);
            }
          }
          .address {
            &::after {
              background-image: url(../img/icons/map-icon-my-theme.png);
            }
          }
          .address ~ td {
            color: var(--person-content-background-color);
          }
        }
      }
      .notice {
        h2 {
          color: var(--person-info-background-color);
        }
      }
      .contact-form {
        #hire-me-form {
          background: var(--person-info-background-color);
          label {
            color: var(--person-content-background-color);
          }
          .form-email-container {
            input[type="email"] {
              &:invalid {
                outline: 2px solid var(--font-color-form-error);
              }
              &:focus:invalid {
                outline: 2px solid var(--font-color-surname);
              }
              &:invalid ~ .err::after {
                color: var(--font-color-surname);
              }
            }
            &::placeholder {
              color: var(--font-color-of-primary)
            }
          }
          .form-textarea-container {
            textarea::placeholder {
              color: var(--font-color-of-primary)
            }
          }
          .form-select-container {
            select {
              color: var(--font-color-of-primary);
              background: url('../img/icons/vector.png') no-repeat center right 17px, var(--person-content-background-color);
              margin-top: 15px;
              font-family: var(--font-family-secondary);
              font-size: var(--font-size-medium);
              width: 100%;
              padding: var(--margin-padding-xsmall);
              line-height: 24px;
              letter-spacing: var(--font-letter-spacing);
            }
          }
          .form-btn-container {
            .form-btn {
              background-color: var(--font-color-surname);
              border: none;
              font-weight: 500;
              color: var(--font-color-of-primary);
              padding: var(--margin-padding-xsmall) var(--margin-padding-small);
              font-size: 18px;
              line-height: 22px;
              border-radius: 6px;
              &:hover {
                cursor: pointer;
                background-color: var(--person-content-background-color);
                transition: 300ms ease all;
                letter-spacing: 2px;
              }
            }
          }
        }
      }
    }
  }
  input, select, textarea {
    appearance: none;
    margin: 0;
    border: 1px solid transparent;
    background: var(--person-content-background-color);
    border-radius: 4px;
    input:focus, select:focus, textarea:focus {
      outline: 2px solid var(--button-hover-color);
      border-radius: 4px;
    }
  }
}
