@import "main_theme_variables";
@import "my_theme_variables";
/* Animation function */
@mixin block_animation ($duration) {
  animation-name: person;
  animation-duration: $duration;
  animation-timing-function: linear;
}
/* Fonts */
@font-face {
  font-family: Inter, sans-serif;
  src: url(../fonts/inter/Inter-VariableFont.ttf);
}
@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
/* Reset styles */
body.main_theme {
  background: #fff;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-medium);
  font-family: var(--font-family-primary);
  color: var(--font-color-of-primary);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  color: var(--font-color-of-primary);
}
a {
  font-family: Inter, sans-serif;
  color: var(--link-color);
  font-size: var(--font-size-medium);
  font-weight: 600;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
input, select, textarea {
  appearance: none;
  margin: 0;
  border: 1px solid transparent;
  background: var(--input-background-color);
  border-radius: 4px;
}
input:focus, select:focus, textarea:focus {
  outline: 1px solid var(--font-color-form-acccent);
  border-radius: 4px;
}
/* Index page styles */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  grid-template-areas: "info content";
  .person-info {
    width: 25rem;
    z-index: 5;
    background-color: var(--person-info-background-color);
    grid-area: info;
    & > div {
      @include block_animation(800ms);
    }
    header {
      &::after {
        content: '';
        display: block;
        width: 290px;
        height: 6px;
        background-color: var(--font-color-of-primary);
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
    .person-header {
      font-size: calc(var(--font-size-xlarge) - 4px);
      line-height: 38px;
      letter-spacing: var(--font-letter-spacing);
    }
    .person-name {
      padding: var(--margin-padding-medium) 85px var(--margin-padding-medium) var(--margin-padding-xlarge);
      .name {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-xxxlarge);
        color: #fff;
        line-height: 48px;
        letter-spacing: var(--font-letter-spacing);
      }
      .surname {
        color: var(--font-color-surname);
      }
    }
    .person-photo {
      img {
        width: 100%;
        display: block;
        &:hover {
          animation-name: photo;
          animation-duration: 800ms;
          animation-timing-function: linear;
        }
      }
    }
    .person-contact-info {
      padding: var(--margin-padding-medium) var(--margin-padding-xlarge) 0 var(--margin-padding-xlarge);
      section {
        h4 {
          font-family: var(--font-family-primary);
          font-size: calc(var(--font-size-large) - 4px);
          line-height: var(--margin-padding-large);
        }
        .person-address {
          margin-top: var(--margin-padding-medium);
        }
        p {
          font-family: var(--font-family-primary);
          font-size: var(--font-size-medium);
          font-weight: 600;
          line-height: 20px;
          margin: 0 0 var(--margin-padding-medium) 0;
        }
        a {
          font-family: var(--font-family-primary);
          display: block;
          margin: 0 0 var(--margin-padding-medium) 0;
        }
        .linkedin-link {
          display: block;
        }
      }
    }
    .person-languages {
      padding: 0 var(--margin-padding-xlarge) var(--margin-padding-xlarge) var(--margin-padding-xlarge);
      header {
        margin-bottom: var(--margin-padding-medium);
      }
      .language {
        font-size: calc(var(--font-size-large) - 4px);
        font-family: var(--font-family-primary);
        margin: 5px 0;
      }
    }
  }
  .person-content {
    width: 50rem;
    padding: 40px 54px;
    background: var(--person-content-background-color);
    border-right: 1px solid var(--font-form-placeholder-color);
    box-sizing: border-box;
    grid-area: content;
    & > div {
      @include block_animation(1300ms);
    }
    .person-skills, .person-work-experience, .person-education {
      margin-top: 57px;
    }
    .person-header {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-xxlarge);
      line-height: 44px;
      letter-spacing: var(--font-letter-spacing);
      &::after {
        content: '';
        display: block;
        width: 660px;
        height: 5px;
        background-color: var(--font-color-of-primary);
        margin: 24px 0;
      }
    }
    .person-summary {
      p {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-medium);
        font-weight: 600;
        line-height: 20px;
        text-align: justify;
      }
    }
    .person-work-experience {
      .person-content-p {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-medium);
        line-height: 17px;
      }
      .person-content-past {
        opacity: 0.4;
        transition: 700ms all linear;
        &:hover {
          opacity: 1;
          transition: 700ms all linear
        }
      }
    }
    .person-skills {
      .skills-lists-container {
        display: flex;
        .first-skills-list, .second-skills-list {
          flex-grow: 1;
          padding-left: var(--margin-padding-large);
          margin: 0;
          li {
            font-family: var(--font-family-primary);
            font-size: var(--font-size-medium);
            font-weight: 600;
            line-height: 20px;
          }
        }
      }
    }
    .person-form-link-container {
      text-align: center;
      margin: var(--margin-padding-xlarge) 0;
      .form-link {
        background-color: var(--button-background-color);
        border: none;
        font-weight: 500;
        color: #fff;
        padding: var(--margin-padding-xsmall) var(--margin-padding-small);
        font-size: 18px;
        line-height: 23px;
        border-radius: 6px;
        transition: 300ms ease all;
        &:hover {
          cursor: pointer;
          background-color: var(--button-hover-color);
          transition: 300ms ease all;
        }
      }
    }
  }
}
/* Hire me page styles */
.container {
  width: 1024px;
  position: absolute;
  left: calc(50% - 512px);
  top: calc(50% - 448px);
  .hire-form-body {
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    animation-name: form;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    transition: 300ms all ease-in-out;
    .hire-form-head {
      text-align: center;
      .title {
        font-family: var(--font-family-secondary);
        letter-spacing: var(--font-letter-spacing);
        color: var(--font-color-form-acccent);
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: var(--margin-padding-medium);
      }
      .subtitle {
        font-family: var(--font-family-secondary);
        letter-spacing: var(--font-letter-spacing);
        color: var(--font-color-of-secondary);
        margin-bottom: var(--margin-padding-large);
      }
    }
    .contact-info {
      margin-bottom: var(--margin-padding-large);
      .contact-info-table {
        padding: 8px 0;
        width: 100%;
        border-radius: 16px;
        border: 1px solid var(--font-color-form-acccent);
        tr, td {
          padding: 12px;
          color: var(--font-color-form-acccent);
          line-height: 24px;
          letter-spacing: var(--font-letter-spacing);
        }
        .phone {
          position: relative;
          padding-left: 60px;
          text-align: center;
          font-weight: bold;
          &::after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 4px;
            left: 18px;
            background-image: url(../img/icons/phone.png);
          }
        }
        .address {
          color: var(--font-color-of-secondary);
          position: relative;
          padding-left: 75px;
          text-align: center;
          font-weight: bold;
          &::after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 4px;
            left: 18px;
            background-image: url(../img/icons/map.png);
          }
        }
        .address ~ td {
          color: var(--font-color-of-secondary);
        }
      }
    }
    .notice {
      text-align: center;
      h2 {
        font-family: var(--font-family-secondary);
        letter-spacing: var(--font-letter-spacing);
        color: var(--font-color-of-secondary);
      }
    }
    .contact-form {
      margin-top: var(--margin-padding-large);
      #hire-me-form {
        font-family: var(--font-family-secondary);
        padding: var(--margin-padding-small);
        border: 1px solid var(--font-color-form-acccent);
        background: var(--form-background-color, #fff);
        border-radius: 16px;
        margin: 0 auto;
        .form-email-container {
          margin: 0 0 var(--margin-padding-large) 0;
          position: relative;
          label {
            font-family: var(--font-family-secondary);
            letter-spacing: var(--font-letter-spacing);
            font-size: var(--font-size-medium);
          }
          input[type="email"] {
            font-family: var(--font-family-secondary);
            margin-top: var(--margin-padding-small);
            width: 100%;
            font-size: var(--font-size-medium);
            padding: var(--margin-padding-xsmall);
            box-sizing: border-box;
            color: var(--font-form-color);
            &::placeholder {
              font-size: var(--font-size-medium);
              line-height: 24px;
              letter-spacing: var(--font-family-secondary);
              color: var(--font-form-placeholder-color);
            }
            &:focus:invalid {
              outline: 1px solid var(--font-color-form-acccent);
            }
            &:invalid {
              outline: 1px solid var(--font-color-form-error);
            }
            &:invalid ~ .err::after {
              display: block;
              position: absolute;
              content: attr(data-text);
              margin-top: 5px;
              font-family: var(--font-family-secondary);
              color: var(--font-color-form-error);
              font-size: var(--font-size-xsmall);
              letter-spacing: var(--font-letter-spacing);
              transition: 300ms all ease;
            }
            .err {
              position: relative;
            }
          }
        }
        .form-textarea-container {
          margin: var(--margin-padding-large) 0;
          label {
            font-family: var(--font-family-secondary);
            letter-spacing: var(--font-letter-spacing);
            font-size: var(--font-size-medium);
          }
          textarea {
            font-family: var(--font-family-secondary);
            margin-top: 15px;
            width: 100%;
            height: 170px;
            font-size: var(--font-size-medium);
            padding: var(--margin-padding-xsmall);
            box-sizing: border-box;
            resize: none;
            color: var(--font-form-color);
            &::placeholder {
              font-size: var(--font-size-medium);
              line-height: 24px;
              letter-spacing: var(--font-letter-spacing);
              color: var(--font-form-placeholder-color);
            }
          }
        }
        .form-select-container {
          margin: var(--margin-padding-large) 0;
          label {
            font-family: var(--font-family-secondary);
            letter-spacing: var(--font-letter-spacing);
            font-size: var(--font-size-medium);
          }
          select {
            background: url('../img/icons/vector.png') no-repeat center right 17px, #F8FAFC;
            margin-top: 15px;
            font-family: var(--font-family-secondary);
            color: var(--font-color-of-secondary);
            font-size: var(--font-size-medium);
            width: 100%;
            padding: var(--margin-padding-xsmall);
            line-height: 24px;
            letter-spacing: var(--font-letter-spacing);
            &:hover {
              cursor: pointer;
            }
          }
        }
        .form-btn-container {
          text-align: center;
          margin-top: var(--margin-padding-xlarge);
          .form-btn {
            background-color: var(--button-background-color);
            border: none;
            font-weight: 500;
            color: #fff;
            padding: var(--margin-padding-xsmall) var(--margin-padding-small);
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;
            transition: 300ms ease all;
            &:hover {
              cursor: pointer;
              background-color: var(--button-hover-color);
              transition: 300ms ease all;
            }
          }
        }
      }
    }
  }
}
/* Media queries */
@media screen and (max-width: 700px)  {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
        "info"
        "content"
  ;
    .person-info {
      width: 100%;
    }
    .person-content {
      width: 100%;
      border-right: none;
    }
  }
}
/* Animation keyframes */
@keyframes person {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  20% {
    transform: translateY(80px);
    opacity: .2;
  }
  40% {
    transform: translateY(60px);
    opacity: .4;
  }
  60% {
    transform: translateY(40px);
    opacity: .6;
  }
  80% {
    transform: translateY(20px);
    opacity: .8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes photo {
  0% {
    transform: scale(100%);
  }
  40% {
    transform: scale(140%);
  }
  60% {
    transform: scale(140%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes form {
  0% {
    transform: scale(200%);
    opacity: 0;
  }
  20% {
    transform: scale(180%);
    opacity: .2;
  }
  40% {
    transform: scale(160%);
    opacity: .4;
  }
  60% {
    transform: scale(140%);
    opacity: .6;
  }
  80% {
    transform: scale(120%);
    opacity: .8;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@import "my_theme";