@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-VariableFont.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Inter, sans-serif;
    background: #1E1E1E;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}

a {
    font-family: Inter, sans-serif;
    color: #1C2E8C;
    font-size: 16px;
    font-weight: 600;
}

a:visited {
    text-decoration: none;
}

main.person-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
}

aside.person-info {
    background-color: #86A3B4;
}

aside.person-info .person-name, aside.person-info .person-languages {
    padding: 60px 50px 40px 41px;
}

aside.person-info .person-name h2.name {
    font-family: Inter, sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 48px;
    letter-spacing: 1px;

}

aside.person-info h3.person-header {
    font-family: Inter, sans-serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1px;
}

aside.person-info header::after {
    content: '';
    display: block;
    width: 290px;
    height: 6px;
    background-color: #1E1E1E;
    margin-top: 10px;
    margin-bottom: 30px;
}

aside.person-info .person-name span.surname {
    color: #1C2E8C;
}

aside.person-info .person-photo img {
    width: 100%;
}

aside.person-info .person-contact-info {
    padding: 50px 50px 40px 41px;
}

article.person-content {
    padding: 58px 54px;
    background: #fff;
}

article.person-content header::after {
    content: '';
    display: block;
    width: 660px;
    height: 5px;
    background-color: #1E1E1E;
    margin: 28px 0;
}

article.person-content h2.person-header {
    font-family: Inter, sans-serif;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1px;
}


