body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
    background-color: #def7fe;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    font-style: italic;
}

.container h3 {
    font-weight: 800;
}

.container hr {
    width: 700px;
    height: 3px;
    background-color: #000;
}

.container h1, .container h2, .container h3 {
    margin: 8px 0;
}

.container .job-btn, .contact-form .form-btn-container .form-btn {
    padding: 10px 32px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fffadd;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
    color: #333;
    border: 1px solid #000 ;
}

.container .job-btn:hover, .contact-form .form-btn-container .form-btn:hover {
    color: #fff;
    background-color: #40cbea;
    transition: all 200ms linear;
    text-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.container .my_photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
}

.container .my_photo img {
    width: 250px;
    height: 250px;
    filter: grayscale(50%);
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}
.vertical_top {
    vertical-align: top;
}

.container table.my_work {
    margin: 20px 0;
}

.container table.my_work {
    background-color: #e7ecff;
}

.container table.my_work .aquamarine {
    background-color: #b5f2ea;
}

.container table.my_work {
    width: 100%;
    margin: 15px 0;
    border-collapse: collapse;
}

.container table.my_work a.work_link {
    color: #00f;
    text-decoration: underline;
    font-weight: bold;
}

.container table.my_work a.work_link:hover {
    text-decoration: none;
}

.container table.my_work a.work_link:visited {
    color: #005;
}

.container table.my_work td {
    padding: 8px;
    border: 1px solid #000;
}

.upper {
    text-transform: uppercase;
}

.container table.my_skills, .container table.my_archivements {
    width: 100%;
    margin: 9px 0;
    border-collapse: collapse;
}

.container table.my_skills span.skills_square {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

.container table.my_skills span.skills_square:before {
    content: '';
    font-weight: bold;
    margin-right: 10px;
    height: 7px;
    width: 7px;
    background-color: #333;

}

.container table.my_skills td, .container table.my_archivements td {
    padding: 8px;
    border: 1px solid #000;
}

.container table.my_skills tr td:nth-child(1) {
    background-color: #c6d8ff;
}
.container table.my_skills tr td:nth-child(2) {
    background-color: #fffadd;
}
.container table.my_skills tr td:nth-child(3) {
    background-color: #fed6bc;
}
.container table.my_skills tr td:nth-child(4) {
    background-color: #ffacbb;
}
.container table.my_skills tr td:nth-child(5) {
    background-color: #40cbea;
}

.container table.my_skills {
    text-align: center;
}

.container table.my_archivements tr td:nth-child(1) {
    background-color: #fffadd;
}
.container table.my_archivements tr td:nth-child(2) {
    background-color: #c6d8ff;;
}

/* Hire me page styles */

.hire-form-body {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .contact-info {
    width: 500px;
    margin: 10px 0 20px 0;
}

.contact-info-table {
    width: 100%;
    border-collapse: collapse;
}

.contact-info-table td  {
    padding: 8px;
    border: 1px solid #000;
}

.contact-form form {
    width: 500px;
    text-align: left;
}

.contact-form legend {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.contact-form input[type="email"]{
    padding: 5px 8px;
    margin: 10px 0 20px 0;
    width: 310px;
}

.contact-form textarea, .contact-form select {
    padding: 5px 8px;
}

.contact-form select option {
    font-size: 14px;
}

.contact-form textarea {
    margin-bottom: 20px;
    resize: none;
}

.contact-form .form-textarea-container {
    display: flex;
}

.contact-form .form-textarea-container label {
    margin-right: 20px;
}

.contact-form .form-email-container label {
    margin-right: 50px;
}

.contact-form .form-select-container label {
    margin-right: 20px;
}
 .contact-form .form-btn-container {
     text-align: center;
     margin: 20px 0 10px 0;
 }

