// Font import
@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-VariableFont.ttf);
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

// Variables
@font-family--inter: Inter, sans-serif;
@font-family--ibm-plex: 'IBM Plex Sans', sans-serif;
@grey_color: #6F7482;
@light_grey_color: #B8BCCA;
@text_primary_color: #3B4256;
@blue_primary: #0048D9;

// Mixins
.basic-font-options {
  font-size: 16px;
  font-weight: 600;
}
.basic-font2-options {
  font-family: @font-family--ibm-plex;
  letter-spacing: 1px;
}
.icons_after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 18px;
}

// Reset css
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: @font-family--inter;
  color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-family--inter;
  margin: 0;
  font-weight: 600;
  color: #1E1E1E;
}

a {
  font-family: @font-family--inter;
  color: #1C2E8C;
  .basic-font-options();
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input,
select,
textarea {
  appearance: none;
  margin: 0;
  border: 1px solid transparent;
  background: #F8FAFC;
  border-radius: 4px;
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid #0048D9;
  border-radius: 4px;
}

// Index page css
.person-info {
  width: 25rem;
  position: fixed;
  left: 22.5rem;
  top: 0;
  z-index: 5;
  header::after {
    content: '';
    display: block;
    width: 290px;
    height: 6px;
    background-color: #1E1E1E;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  h3.person-header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1px;
  }
  background-color: #86A3B4;
  .person-name {
    padding: 40px 85px 20px 40px;
    h2.name {
      font-size: 40px;
      color: #fff;
      line-height: 48px;
      letter-spacing: 1px;
    }
    span.surname {
      color: #1C2E8C;
    }
  }
  .person-photo {
    img {
      width: 100%;
    }
  }
  .person-contact-info {
    padding: 30px 30px 0 41px;
    section {
      h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
      }
      p {
        .basic-font-options();
        line-height: 20px;
        margin: 0 0 20px 0;
      }
      a {
        display: block;
        margin: 0 0 20px 0;
        &.linkedin-link {
          display: block;
        }
      }
    }
  }
  .person-languages {
    padding: 0 50px 36px 41px;
    h3.language {
      margin: 5px 0;
    }
  }
}
.person-content {
  width: 50rem;
  position: absolute;
  left: calc(50% - 11.375rem);
  padding: 58px 54px;
  background: #fff;
  border-right: 1px solid @light_grey_color;
  box-sizing: border-box;
  .person-skills, .person-work-experience, .person-education {
    margin-top: 57px;
  }
  h2.person-header {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1px;
  }
  header::after {
    content: '';
    display: block;
    width: 660px;
    height: 5px;
    background-color: #1E1E1E;
    margin: 24px 0;
  }
  .person-summary {
    p {
      font-family: @font-family--inter;
      .basic-font-options();
      line-height: 20px;
      text-align: justify;
    }
  }
  .person-work-experience {
    p.person-content-p {
      font-size: 14px;
      line-height: 17px;
    }
  }
  .person-skills {
    .skills-lists-container {
      display: flex;
      ul.first-skills-list, ul.second-skills-list {
        flex-grow: 1;
        padding-left: 30px;
        margin: 0;
        li {
          font-family: @font-family--inter;
          .basic-font-options();
          line-height: 19px;
        }
      }
    }
  }
  .person-form-link-container {
    text-align: center;
    margin: 40px 0;
    a.form-link {
      background-color: #7B61FF;
      border: none;
      font-weight: 500;
      color: #fff;
      padding: 12px 16px;
      font-size: 18px;
      line-height: 23px;
      border-radius: 6px;
      &:hover {
        cursor: pointer;
        background-color: #002266;
        transition: 300ms ease all;
      }
    }
  }
}

// Hire me Page
body {
  .container {
    width: 1024px;
    position: absolute;
    left: calc(50% - 512px);
    top: calc(50% - 448px);
    .hire-form-body {
      width: 500px;
      position: absolute;
      left: calc(50% - 250px);
      .hire-form-head {
        text-align: center;
        h1.title {
          .basic-font2-options();
          color: @blue_primary;
          text-transform: uppercase;
          font-weight: 900;
          margin-bottom: 20px;
        }
        h2.subtitle {
          .basic-font2-options();
          color: @grey_color;
          margin-bottom: 30px;
        }
      }
      .contact-info {
        margin-bottom: 30px;
        table.contact-info-table {
          padding: 8px 0;
          width: 100%;
          border-radius: 16px;
          border: 1px solid @blue_primary;
          tr, td {
            padding: 12px;
            color: @blue_primary;
            line-height: 24px;
            letter-spacing: 1px;
          }
          td.phone {
            position: relative;
            padding-left: 60px;
            text-align: center;
            font-weight: bold;
            &::after {
              .icons_after();
              background-image: url(../img/icons/phone.png);
            }
          }
          td.address {
            color: @grey_color;
            position: relative;
            padding-left: 75px;
            text-align: center;
            font-weight: bold;
            &::after {
              .icons_after();
              background-image: url(../img/icons/map.png);
            }
          }
          td.address ~ td {
            color: @grey_color;
          }
        }
      }
      .notice {
        text-align: center;
        h2 {
          .basic-font2-options();
          color: @grey_color;
        }
      }
      .contact-form {
        margin-top: 30px;
        form#hire-me-form {
          font-family: @font-family--ibm-plex;
          padding: 16px;
          border: 1px solid @blue_primary;
          border-radius: 16px;
          margin: 0 auto;
          .form-email-container {
            margin: 0 0 32px 0;
            position: relative;
            label {
              .basic-font2-options();
              font-size: 16px;
            }
            input[type="email"] {
              font-family: @font-family--ibm-plex;
              margin-top: 15px;
              width: 100%;
              font-size: 16px;
              padding: 12px;
              box-sizing: border-box;
              color: @text_primary_color;
              &::placeholder {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1px;
                color: @light_grey_color;
              }
              &:focus {
                &:invalid {
                  outline: 1px solid #0048D9;
                }
              }
              &:invalid {
                outline: 1px solid #ED0131;
                & ~ .err::after {
                  display: block;
                  position: absolute;
                  content: attr(data-text);
                  margin-top: 5px;
                  font-family: @font-family--ibm-plex;
                  color: #ED0131;
                  font-size: 12px;
                  letter-spacing: 1px;
                  transition: 300ms all ease;
                }
              }
              .err {
                position: relative;
              }
            }

          }
          .form-textarea-container {
            margin: 32px 0;
            label {
              .basic-font2-options();
              font-size: 16px;
            }
            textarea {
              font-family: @font-family--ibm-plex;
              margin-top: 15px;
              width: 100%;
              height: 170px;
              font-size: 16px;
              padding: 12px;
              box-sizing: border-box;
              resize: none;
              color: @text_primary_color;
              &::placeholder {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1px;
                color: @light_grey_color;
              }
            }
          }
          .form-select-container {
            margin: 32px 0;
            label {
              .basic-font2-options();
              font-size: 16px
            }
            select {
              background: url('../img/icons/vector.png') no-repeat center right 17px, #F8FAFC;
              margin-top: 15px;
              font-family: @font-family--ibm-plex;
              color: @grey_color;
              font-size: 16px;
              width: 100%;
              padding: 12px;
              line-height: 24px;
              letter-spacing: 1px;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .form-btn-container{
            text-align: center;
            margin-top: 40px;
            .form-btn {
              background-color: #7B61FF;
              border: none;
              font-weight: 500;
              color: #fff;
              padding: 12px 16px;
              font-size: 18px;
              line-height: 23px;
              border-radius: 6px;
              &:hover {
                cursor: pointer;
                background-color: #002266;
                transition: 300ms ease all;
              }
            }
          }
        }
      }
    }
  }
}

