// Font import
@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-VariableFont.ttf);
}

// Variables
@font: Inter, sans-serif;

// Mixins
.basic-font-options {
  font-size: 16px;
  font-weight: 600;
}

// Reset css
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: @font;
  background: #1E1E1E;
  color: #1E1E1E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font;
  margin: 0;
  font-weight: 600;
  color: #1E1E1E;

}

a {
  font-family: @font;
  color: #1C2E8C;
  .basic-font-options();
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input,
select,
textarea {
  appearance: none;
  margin: 0;
  border: none;
  background: #F8FAFC;
  padding: 12px;
}

// Index page css
.person-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  .person-info {
    header::after {
      content: '';
      display: block;
      width: 290px;
      height: 6px;
      background-color: #1E1E1E;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    h3.person-header {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 1px;
    }
    background-color: #86A3B4;
    .person-name {
      padding: 58px 85px 36px 40px;
      h2.name {
        font-size: 40px;
        color: #fff;
        line-height: 48px;
        letter-spacing: 1px;
      }
      span.surname {
        color: #1C2E8C;
      }
    }
    .person-photo {
      img {
        width: 100%;
      }
    }
    .person-contact-info {
      padding: 50px 50px 0 41px;
      section {
        h4 {
          font-size: 24px;
          font-weight: 600;
          line-height: 29px;
        }
        p {
          .basic-font-options();
          line-height: 20px;
          margin: 10px 0 40px 0;
        }
        a {
          display: block;
          margin: 10px 0 40px 0;
          &.linkedin-link {
            display: block;
            margin: 10px 0 0 0;
          }
        }
      }
    }
    .person-languages {
      padding: 36px 50px 530px 41px;
      h3.language {
        margin: 15px 0;
      }
    }
  }
  .person-content {
    padding: 58px 54px;
    background: #fff;
    .person-skills, .person-work-experience, .person-education {
      margin-top: 57px;
    }
    h2.person-header {
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 1px;
    }
    header::after {
      content: '';
      display: block;
      width: 660px;
      height: 5px;
      background-color: #1E1E1E;
      margin: 24px 0;
    }
    .person-summary {
      p {
        font-family: @font;
        .basic-font-options();
        line-height: 20px;
        text-align: justify;
      }
    }
    .person-work-experience {
      p.person-content-p {
        font-size: 14px;
        line-height: 17px;
      }
    }
    .person-skills {
      .skills-lists-container {
        display: flex;
        ul.first-skills-list, ul.second-skills-list {
          flex-grow: 1;
          padding-left: 30px;
          margin: 0;
          li {
            font-family: @font;
            .basic-font-options();
            line-height: 19px;
          }
        }
      }
    }
  }
}

// Hire me Page
body.hire-me-page {
  background-color: #fff;
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 50px;
    .hire-form-body {
      .hire-form-head {
        h1.title {
          font-family: @font;
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: 1px;
          margin-bottom: 20px;
        }
        h3.subtitle {
          margin-bottom: 20px;
        }
      }
      .contact-info {
        table.contact-info-table {
        }
      }
      .contact-form {
        form#hire-me-form {
          .form-email-container {
            input[type="email"] {
            }
          }
          .form-textarea-container {
            textarea {
            }
          }
          .form-btn-container{
            margin-top: 40px;
            .form-btn {
              background-color: #7B61FF;
              border: none;
              color: #fff;
              padding: 12px 16px 10px 16px;
              font-size: 20px;
              border-radius: 10px;
              &:hover {
                cursor: pointer;
                background-color: #002266;
                transition: 300ms ease all;
              }
            }
          }
        }
      }
    }
  }
}

